<div class="container">
  <div class="d-flex justify-content-center">
    <div>
      <h2>User_show</h2>
      <h5>ユーザーネーム</h5>
      <%= @user.name %>
      <h5>自己紹介</h5>
      <%= @user.introduction %>
      <h5>メールアドレス</h5>
      <%= @user.email %>
      <h5>登録日</h5>
      <%= @user.created_at.strftime('%Y/%m/%d')%>
      <%= link_to "Edit", edit_user_path(@user.id)%>
    </div>
  </div>
</div>
