<button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
  条件を絞って検索
</button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="example">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        条件を絞って検索
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= search_form_for search_form, url: posts_path do |f| %>
        <form>
          <div class="form-group">
            <label>検索ワード</label>
            <div class="form-group">
              <%= f.search_field :title_cont, placeholder: "検索ワード", class: "form-control" %>
            </div>
          </div>
           <div class="form-group">
            <label>ユーザー名</label>
            <div>
              <%= f.collection_select :user_name_cont, User.all, :name, :name, {include_blank: "指定なし"}, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <label>価格</label>
            <div class="form-row">
              <div class="col">
                <%= f.number_field :price_gteq , class: "form-control" %>
              </div>
                以上〜
              <div class="col">
                <%= f.number_field :price_lteq , class: "form-control" %>
              </div>
                以下
              </div>
            </div>
            <div class="form-group">
              <label>発売日</label>
              <div class="form-row">
                <div class="col">
                  <%= f.date_field :day_gteq , class: "form-control" %>
                </div>
                〜
                <div class="col">
                  <%= f.date_field :day_lteq , class: "form-control" %>
                </div>
              </div>
            </div>
          <div>
            <label>発売状況</label>
            <div class="form-check form-check-inline">
              <div class="m-1">
                <%= f.radio_button :status_eq, '' , class: "form-check-input" %>指定なし
              </div>
              <div class="m-1">
                <%= f.radio_button :status_eq, true , class: "form-check-input" %>販売中
              </div>
              <div class="m-1">
                <%= f.radio_button :status_eq, false , class: "form-check-input"%>廃盤
              </div>
            </div>
          </div>
          <div>
            <%= f.submit '検索', class: "btn btn-success" %>
          </div>
        </form>
        <% end %>
      </div>
    </div>
  </div>
</div>