<div class="container">

 <%= search_form_for @q do |f| %>
  <%= f.label :title_or_body_or_user_name_cont, "検索ワード"%>
  <%= f.search_field :title_or_body_or_user_name_cont, placeholder: "検索ワード" %>
  <%= f.submit '検索'%>
 <% end %>

  <h2>INDEX</h2>
  <table class="table">
    <tr>
      <th>TITLE</th>
      <th>BODY</th>
      <th>PRICE</th>
      <th></th>
    </tr>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= post.price %></td>
        <td><%= link_to "Show", post_path(post.id) %></td>
      </tr>
    <% end %>
  </table>
</div>

