<!DOCTYPE html>
<html>
  <head>
    <title>SearchApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/a5fc0fa3f9.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
      <div class="row">
        <div class="col">
          <h6 class="text-danger">Bootstrap</h6>
        </div>
        <div class="col">
           <h6 class="text-red">SCSS</h6>
        </div>
      </div>
    </div>
    <hr>

    <header>
      <nav>
        <div class="container">
          <ul>
            <% if user_signed_in? %>
              <li>
                <%= link_to "new", new_post_path %>
              </li>
              <li>
                <%= link_to "index", posts_path %>
              </li>

              <li>
                <%= link_to "users", users_path %>
              </li>
              <li>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              </li>
            <% else %>
              <li>
                <%= link_to "新規登録", new_user_registration_path %>
              </li>
              <li>
                <%= link_to "ログイン", new_user_session_path %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
